{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Sign Up</title>
{% endblock head %}


{% block body %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="{% static 'images/mit-logo.png' %}" class="w-25" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">MIT THANDAVAPURA</h4>
                                </div>

                                <form method="post" action="{% url 'signup' %}">
                                    {% csrf_token %}
                                    <p class="text-center">Please create your account</p>

                                    {% if messages %}
                                    <ul class="alert alert-danger pl-4 small">
                                        {% for message in messages %}
                                        <li>{{message}} !!</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="form-outline mb-4">
                                        <label class="form-label fw-bold" for="form2Example11">Username</label>
                                        <input type="text" id="form2Example11" class="form-control" name="username"
                                            placeholder="username" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label fw-bold" for="form2Example11">Email</label>
                                        <input type="email" id="form2Example11" class="form-control" name="email"
                                            placeholder="email address" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label fw-bold" for="form2Example22">Password</label>
                                        <input type="password" name="password" id="form2Example22" class="form-control"
                                            required />
                                    </div>

                                   

                                    <div class="form-outline mb-4">
                                        <label class="form-label fw-bold" for="form2Example22">Confirm Password</label>
                                        <input type="password" name="password2" id="form2Example22" class="form-control"
                                            required />
                                    </div>

                                    <div class="small alert alert-info">
                                        <p class="password-suggestions fw-bold">
                                            Password Suggestions:
                                        <ul>
                                            <li>Minimum 8 characters</li>
                                            <li>Include at least one uppercase letter (A-Z)</li>
                                            <li>Include at least one lowercase letter (a-z)</li>
                                            <li>Include at least one number (0-9)</li>
                                            <li>Include at least one special character (@,!,=,...)</li>
                                            <li>Avoid common words and personal information</li>
                                        </ul>
                                        </p>
                                    </div>

                                    <div class="text-center pt-1 mb-3 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 px-5"
                                            type="submit">Create Account</button><br>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Already have an account?</p>
                                        <a class="text-danger" href="{% url 'signin' %}">Sign in</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}